<!DOCTYPE html>
<html>
	<head><title>OSNAP Add an Asset</title></head>
	<body><h1>Something New?</h1>

		
	<div class="row">
            <div class="col-lg-12">
		<div><h2>Assets:</h2>
		    <table>
			{% for entry in session.assets %}
			<tr>
				<td>{{ entry.asset_names }}</td>
			</tr>
			{% endfor %}
		    </table>
		</div>
		    
		<div id ="content">
                	{% if session['Aerror'] %}
               		 <br> <strong>{{session['Aerror']}}</strong> <br>
			{% endif %}
		</div> 

                <p> <label>LOST Asset Additions: What's new?</label> {{session.username}}</p>
                
                <form action="{{url_for('add_asset')}}" method="POST">
                    <div class="input-group" style="width:640px">
                        <label>Asset Tag (Name?): </label>
			<input class="form-control input-lg" placeholder="What are we calling it?" name="asset">
                    </div>
                    <div class="input-group" style="width:640px">
                        <label> Asset Info? </label>
                        <input class="form-control input-lg" placeholder="Can you describe the thing?" name="ainfo">
                    </div>
                    <div class="input-group" style="width:640px">
                        <label> Asset Arrival Time: </label>
                        <input type = "datetime-local" name="time">
                    </div>

                    <div class="input-group" style="width:640px">
                        <label> Asset's Location: </label>
                        <select name = "facilitymenu">
			{% for entry in session.facilities %}
			<option value="{{ entry.facility_name }}"> {{ entry.facility_name }} </option>
			
			{% endfor %}
			</select>
                    </div>
                   
                    <div class="input-group" style="width:640px">
                        <button type="submit" class="btn btn-success">Add Asset</button>
                    </div>
                </form>
            </div>

        </div>
        <!-- end of row -->

        <br>
        <br>

        <!-- submit button -->
        <!--
        <div class="row">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-success" action="{{url_for('add_asset')}}" method="POST">Facility</button>
        </div>
        </div>
	-->
	


</body>
</html>
