<!DOCTYPE html>

<html>
	<head><title>OSNAP Asset Report</title></head>
	<body><h1>Asset Reports</h1>

		
	<div class="row">
            <div class="col-lg-12">

		<div id ="content">
                	{% if session['error'] %}
               		 <br> <strong>{{session['error']}}</strong> <br>
			{% endif %}
		</div> 

                <p> <label>LOST Asset Reports: Hey, {{session.username}} did you lose something?</label> </p>
                
		
		    
                <form action="{{url_for('asset_report')}}" method="POST">
			
                     <div class="input-group" style="width:640px">
                        	<label> Which Date: </label>
                        	<select name = "date_menu">
				{% for entry in session.assets_date %}
				<option value="{{ entry.ass_date }}"> {{ entry.ass_date }} </option>
				{% endfor %}
				</select>
			</div>
			
			 
                    
                     	<div class="input-group" style="width:640px">
				<label> Which Facility: </label>
                        	<select name = "facility_menu">
					<option value="ALL"> All of the Facilities  </option>
					{% for entry in session.facilities %}
						<option value="{{ entry.facility_name }}"> {{ entry.facility_name }} </option>
					{% endfor %}
				</select>
			</div>
                   
                    <div class="input-group" style="width:340px">
                        <button type="submit" class="btn btn-success">Report</button>
                    </div>
			
			
			
                </form>
		    
		    <form action = "{{url_for('dashboard')}}">
				<input type = "Submit" name = "Go Back" value = "Go Back">
		    </form>
		    
		    
		    {% if session['stock'] %}
		    <table>
			    <tr> <td>Asset Name</td> <td>Description</td> <td>Facility</td> <td>Arrive</td> <td>Depart</td> </tr>
		    
			{% for entry in session.stock %}
			<tr>
			    <td>{{entry.asset_name}}</td>
			    <td>{{entry.asset_info}}</td>
			    <td>{{entry.facil_name}}</td>
			    <td>{{entry.arrive}}</td>
			    <td>{{entry.depart}}</td>
			</tr>
			{% endfor %}
		    
		    </table>
		{% endif %}
            </div>

        </div>
       

        <br>
        <br>

       
	


</body>
</html>
