<!DOCTYPE html>
<html>
	<head><title>OSNAP Rests</title></head>
	<body><h1>Let's take a ReST</h1>

	
	<h2>lost_key</h2>
		<h4><br>This is the only lost call that does not authenticate 
			the requester and uses plain text input 
			and output.</h4><br>
		<h3><strong>Request</strong><br></h3>
			<h4>The request does not provide values for any of the arguments though
			data and the signature fields must be present in the request.</h4><br>
		<h3><strong>Response</strong><br></h3>
			<h4><em>result</em>  'OK' or 'FAIL' </h4><br>
			<h4><em>key</em>   The LOST public key </h4><br>
		<h3>Example:</h3><br>
			<h4>{<br>&#8220; timestamp &#8220;:  &#8220;2017-02-02 06:15:13&#8220;,<br>
			&#8220;result&#8220; : &#8220;OK&#8220; , <br>
			&#8220;key&#8220; : &#8220;bksaoudu...aolchecksya&#8220;<br><br></h4>



	<h2>activate_user</h2>
		<h4><br>Reactivates LOST access for a user or generates a new user account if needed.</h4><br>
		<h3><strong>Request</strong><br></h3>
			<h4><em>username</em> OSNAP username to activate.</h4><br>
			<h4><strong>Example:</strong></h4><br>
				<h4>{<br>&#8220; timestamp &#8220;:  &#8220;2017-02-02 06:15:13&#8220;,<br>
				&#8220;username&#8220;: &#8220;carter&#8220;<br>}<br><br></h4>
		<h3><strong>Response</strong><br></h3>
			<h4><em>result</em>  'OK,' 'NEW,' or 'FAIL' </h4><br>
		<h3>Example:</h3><br>
			<h4>{<br>&#8220; timestamp &#8220;:  &#8220;2017-02-02 06:15:13&#8220;,<br>
			&#8220;result&#8220; : &#8220;OK&#8220; , <br>}<br></h4>




	<h2>suspend_user</h2>
		<h4><br>Revokes access for a user. If the user does not exist 
			or access has already been revoked, this call has no effect.</h4><br>
		<h3><strong>Request</strong><br></h3>
			<h4><em>username</em> OSNAP username to revoke.</h4><br>
				<h4><strong>Example:</strong></h4><br>
				<h4>{<br>&#8220; timestamp &#8220;:  &#8220;2017-02-02 06:15:13&#8220;,<br>
				&#8220;username&#8220;: &#8220;carter&#8220;<br>}<br><br></h4>
		
			<h3><strong>Response</strong><br></h3>
			<h4><em>result</em>  'OK' </h4><br>
		<h3>Example:</h3><br>
			<h4>{<br>&#8220; timestamp &#8220;:  &#8220;2017-02-02 06:15:13&#8220;,<br>
			&#8220;result&#8220; : &#8220;OK&#8220; , <br></h4>




	<h2>list_products</h2>
		<h4><br>Requests a listing of all products in LOST based on filter criteria.
		Additional filters may be provided and additional data may be returned.
		The requests of the minimum form documented in the example must be accepted
		and the produced result must have at least the structure and fields of example provided.
		Asset information may not be provided by this call.</h4><br>
		<h3><strong>Request</strong><br></h3>

			<h4><em>vendor</em> Case insensitive string to match against vendor name.</h4><br>
			<h4><em>description</em> Case insensitive string to match against product description.</h4><br>
			<h4><em>compartments</em> Security tags for teh asset as a json array,
					all tage must be matched for compartment and level.</h4><br>
				<h4><strong>Example:</strong></h4><br>
				<h4>{<br>&#8220; timestamp &#8220;:  &#8220;2017-02-02 06:15:13&#8220;,<br>
				&#8220; vendor &#8220;:  &#8220; &#8220;,<br>
				&#8220; description &#8220;:  &#8220; notepad &#8220;,<br>
				&#8220; compartments &#8220;: [] <br>}<br><br></h4>
			
		<h3><strong>Response</strong><br></h3>
			<h4><em>listing</em> a JSON list containing the product information entries.</h4><br>
		<h3>Example:</h3><br>
			<h4>{<br>&#8220; timestamp &#8220;:  &#8220;2017-02-02 06:15:13&#8220;,<br>
			&#8220;result&#8220; : &#8220;OK&#8220; , <br>
			&#8220;key&#8220; : &#8220;bksaoudu...aolchecksya&#8220;<br><br></h4>




	<h2>lost_key</h2>
		<h4><br>This is the only lost call that does not authenticate 
			the requester and uses plain text input 
			and output.</h4><br>
		<h3><strong>Request</strong><br></h3>
			<h4>The request does not provide values for any of the arguments though
			data and the signature fields must be present in the request.</h4><br>
		<h3><strong>Response</strong><br></h3>
			<h4><em>result</em>  'OK' or 'FAIL' </h4><br>
			<h4><em>key</em>   The LOST public key </h4><br>
		<h3>Example:</h3><br>
			<h4>{<br>&#8220; timestamp &#8220;:  &#8220;2017-02-02 06:15:13&#8220;,<br>
			&#8220;result&#8220; : &#8220;OK&#8220; , <br>
			&#8220;key&#8220; : &#8220;bksaoudu...aolchecksya&#8220;<br><br></h4>




	<h2>lost_key</h2>
		<h4><br>This is the only lost call that does not authenticate 
			the requester and uses plain text input 
			and output.</h4><br>
		<h3><strong>Request</strong><br></h3>
			<h4>The request does not provide values for any of the arguments though
			data and the signature fields must be present in the request.</h4><br>
		<h3><strong>Response</strong><br></h3>
			<h4><em>result</em>  'OK' or 'FAIL' </h4><br>
			<h4><em>key</em>   The LOST public key </h4><br>
		<h3>Example:</h3><br>
			<h4>{<br>&#8220; timestamp &#8220;:  &#8220;2017-02-02 06:15:13&#8220;,<br>
			&#8220;result&#8220; : &#8220;OK&#8220; , <br>
			&#8220;key&#8220; : &#8220;bksaoudu...aolchecksya&#8220;<br><br></h4>








</body>
</html>
