<!DOCTYPE html>

<html>
	<head><title>OSNAP transfer Request</title></head>
	<body><h1>Somewhere New?</h1>

		
	<div class="row">
            <div class="col-lg-12">
		<div><h2>Facilities:</h2>
		    <table>
			{% for entry in session.facilities %}
			<tr>
				<td>{{ entry.facility_name }}</td>
			</tr>
			{% endfor %}
		    </table>
		</div>
		    
		<div id ="content">
                	{% if session['error'] %}
               		 <br> <strong>{{session['error']}}</strong> <br>
			{% endif %}
		</div> 

                <p> <label>LOST Facility Additions: Where's new?</label> {{session.username}}</p>
                
                <form action="{{url_for('transfer_req')}}" method="POST">
                     <div class="input-group" style="width:640px">
                        	<label> Asset Name: </label>
                        	<select name = "asset_menu">
				{% for entry in session.assets %}
				<option value="{{ entry.asset }}"> {{ entry.asset }} </option>
				{% endfor %}
				</select>
			</div>
			
			 <div class="input-group" style="width:640px">
                        	<label> From Facility: </label>
                        	<br>
				 {{session.current_facility}}
				 <br>
			</div>
                    
                     	<div class="input-group" style="width:640px">
				<label> To Facility: </label>
                        	<select name = "facility_menu">
				{% for entry in session.facilities %}
				<option value="{{ entry.facility_name }}"> {{ entry.facility_name }} </option>
				{% endfor %}
				</select>
			</div>
                   
                    <div class="input-group" style="width:340px">
                        <button type="submit" class="btn btn-success">ADD</button>
                    </div>
                </form>
            </div>

        </div>
       

        <br>
        <br>

       
	


</body>
</html>
