<!DOCTYPE html>

<html>
	<head><title>OSNAP Load/Unload</title></head>
	<body><h1>Load and Unload times?</h1>

	<div id ="content">
                {% if session['error'] %}
               		 <br> <strong>{{session['error']}}</strong> <br>
		        {% endif %}
	</div> 
			
	<div class="row">
            <div class="col-lg-12">
                <p> <label>When do you want this done?</label> </p>
                <div id ="content">
                {% if session['uname'] %}
                    If your name is <strong>{{session['uname']}}</strong> and your job is <strong>{{session['role']}}</strong> 
			        <br>You need to get to work!<br>
                {% else %}
		            I may have made a mistake letting you in here...
		        {% endif %}
		</div>    

		
		{{ session['transit_text'] }}
		
		    
		<form action = "{{url_for('update_transit')}}" method="POST">
            
			<div class="input-group" style="width:640px">
                        <label> Asset Loading Time: </label>
                        <input type = "datetime-local" name="load">
            </div>
		
			<div class="input-group" style="width:640px">
                        <label> Asset Unloading Time: </label>
                        <input type = "datetime-local" name="unload">
            </div>
            
		</form>
		    
		<form action = "{{url_for('dashboard')}}">
			<input type = "Submit" name = "Go Back" value = "Go Back">
		</form>
		    
	

            </div>

        </div>
        <!-- end of row -->

        <br>
        <br>

       
	


</body>
</html>
