<!DOCTYPE html>
<html>
	<head><title>OSNAP Login</title></head>
	<body><h1>Please login:</h1>

	<!--
	<div class ="input-group" style="width:340px">
		<label> Who are you? </br> </label>
		<input class="form-control input-lg" placeholder="User Name" name="login">
	

		<form action = "{{url_for('report_filter')}}">
			<input type = "text" name = "mytext"/>
			<input type = "Submit" value = "Submit">
		</form>
	-->
		
	<div class="row">
            <div class="col-lg-12">
                <p> <label>LOST Login:</label> </p>
                <p> This login did not match our database </p>
                <form action="{{url_for('login')}}" method="POST">
                	<div class="input-group" style="width:340px">
                        	<label>User Name: </label>
				<input class="form-control input-lg" placeholder="Have you lost your login?" name="uname" value="">
                	</div>
                	<div class="input-group" style="width:340px">
                        	<label> Password: </label>
                        	<input class="form-control input-lg" placeholder="Did you forget?" name="pass">
                	</div>
			
			<div class="input-group" style="width:340px">
                        	<label> Job Title: </label>
                        	<input class="form-control input-lg" placeholder="What did they hire you to do?" name="pass">
			</div>
                   
                    <div class="input-group" style="width:340px">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                </form>
            </div>

        </div>
        <!-- end of row -->

        <br>
        <br>

        <!-- submit button -->
        <!--
        <div class="row">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-success" action="{{url_for('login')}}" method="POST">Create User</button>
        </div>
        </div>
	-->
	


</body>
</html>
