<!DOCTYPE html>
<html>
	<head><title>OSNAP Reports</title></head>
	<body><h1>What are you looking for?</h1>

	
	<div class ="input-group" style="width:340px">
		<label> Facility Inventory? </br> </label>
			

		<form action = "{{url_for('report_facility')}}">
			<input type = "Submit" value = "Use the Facilities">
		</form>
	

	</div>


	<div class ="input-group" style="width:340px">
		<label> Transit Reports? </br> </label>
			

		<form action = "{{url_for('report_transit')}}">
			<input type = "Submit" value = "Where's our stuff going?">
		</form>
	

	</div>


	<div class ="input-group" style="width:340px">
		<label> Ready to logout? </br> </label>
			

		<form action = "{{url_for('logout')}}">
			<input type = "Submit" value = "I'm leaving!">
		</form>
	

	</div>


</body>
</html>
